body {
    font-family: 'Gentium Basic', serif;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#game-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}



#sidebar {
	margin-left: 1rem;
	height: 704px;
	display: flex;
	flex-direction: column;
	width: 250px;
	align-items: center;
}

@media screen and (max-width: 768px) {
	#game-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#sidebar {
		margin-top: 1rem;
		width: 220px;
		margin-bottom: 2rem;
	}
}

.grow {
	flex-grow: 1;
}

#input-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#send-button {
	height: 100%;
	min-width: 10px;
	padding: 0;
	box-sizing: border-box;
}

#chat {
	margin: 1rem 0;
	background: rgb(243, 243, 243);
	padding: 10px;
	overflow: auto;
	border-radius: 5px;
	border: 1px solid #dadadf;
	width: 100%;
	box-sizing: border-box;
}

.wordwrap { 
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
 }

#chat-input {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #dadadf;
	line-height: 2;
	flex-grow: 1;
	min-width: 10px;
	box-sizing: border-box;
}

.statusMessage {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	line-height: 2.5;
}

.center-vertically {
    justify-content: center;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-family: 'Fondamento', cursive;
}

.btn {
    font-family: inherit;
    border: solid #337FED 0px;
    background: #D0371E;
    background-image: -webkit-linear-gradient(top, #D0371E, #CFA422);
    background-image: -moz-linear-gradient(top, #D0371E, #CFA422);
    background-image: -ms-linear-gradient(top, #D0371E, #CFA422);
    background-image: -o-linear-gradient(top, #D0371E, #CFA422);
    background-image: linear-gradient(to bottom, #D0371E, #CFA422);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 100;
    padding: 30px;
    width: 250px;
    box-shadow: 0px 1px 2px 0px #000000;
    -webkit-box-shadow: 0px 1px 2px 0px #000000;
    -moz-box-shadow: 0px 1px 2px 0px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: solid #337FED 0px;
    background: #992714;
    background-image: -webkit-linear-gradient(top, #992714, #CFA422);
    background-image: -moz-linear-gradient(top, #992714, #CFA422);
    background-image: -ms-linear-gradient(top, #992714, #CFA422);
    background-image: -o-linear-gradient(top, #992714, #CFA422);
    background-image: linear-gradient(to bottom, #992714, #CFA422);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.btn:disabled {
    font-family: inherit;
    border: solid #337FED 0px;
    background: #D17768;
    background-image: -webkit-linear-gradient(top, #D17768, #D5C082);
    background-image: -moz-linear-gradient(top, #D17768, #D5C082);
    background-image: -ms-linear-gradient(top, #D17768, #D5C082);
    background-image: -o-linear-gradient(top, #D17768, #D5C082);
    background-image: linear-gradient(to bottom, #D17768, #D5C082);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #E5E5E5;
    font-size: 30px;
    font-weight: 100;
    padding: 30px;
    width: 250px;
    box-shadow: 0px 1px 2px 0px #000000;
    -webkit-box-shadow: 0px 1px 2px 0px #000000;
    -moz-box-shadow: 0px 1px 2px 0px #000000;
	text-decoration: none;
	cursor: default;
    display: inline-block;
    text-align: center;
}

.up20 {
    position: relative;
    top: -100px;
}


.ph2 {
    padding: 0 10px;
}

.mt2 {
    margin-top: 20px;
}